<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.yc.translator.dao.mapper.interfaces.UsrLanguageMapper" >
  <resultMap id="BaseResultMap" type="com.ai.yc.translator.dao.mapper.bo.UsrLanguage" >
    <id column="language_id" property="languageId" jdbcType="VARCHAR" />
    <result column="translator_id" property="translatorId" jdbcType="VARCHAR" />
    <result column="duad_id" property="duadId" jdbcType="VARCHAR" />
    <result column="translation_type" property="translationType" jdbcType="VARCHAR" />
    <result column="reference_price" property="referencePrice" jdbcType="DECIMAL" />
    <result column="state" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    language_id, translator_id, duad_id, translation_type, reference_price, state
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.yc.translator.dao.mapper.bo.UsrLanguageCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from usr_language
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from usr_language
    where language_id = #{languageId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from usr_language
    where language_id = #{languageId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.yc.translator.dao.mapper.bo.UsrLanguageCriteria" >
    delete from usr_language
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.yc.translator.dao.mapper.bo.UsrLanguage" >
    insert into usr_language (language_id, translator_id, duad_id, 
      translation_type, reference_price, state
      )
    values (#{languageId,jdbcType=VARCHAR}, #{translatorId,jdbcType=VARCHAR}, #{duadId,jdbcType=VARCHAR}, 
      #{translationType,jdbcType=VARCHAR}, #{referencePrice,jdbcType=DECIMAL}, #{state,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.yc.translator.dao.mapper.bo.UsrLanguage" >
    insert into usr_language
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="languageId != null" >
        language_id,
      </if>
      <if test="translatorId != null" >
        translator_id,
      </if>
      <if test="duadId != null" >
        duad_id,
      </if>
      <if test="translationType != null" >
        translation_type,
      </if>
      <if test="referencePrice != null" >
        reference_price,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="languageId != null" >
        #{languageId,jdbcType=VARCHAR},
      </if>
      <if test="translatorId != null" >
        #{translatorId,jdbcType=VARCHAR},
      </if>
      <if test="duadId != null" >
        #{duadId,jdbcType=VARCHAR},
      </if>
      <if test="translationType != null" >
        #{translationType,jdbcType=VARCHAR},
      </if>
      <if test="referencePrice != null" >
        #{referencePrice,jdbcType=DECIMAL},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.yc.translator.dao.mapper.bo.UsrLanguageCriteria" resultType="java.lang.Integer" >
    select count(*) from usr_language
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update usr_language
    <set >
      <if test="record.languageId != null" >
        language_id = #{record.languageId,jdbcType=VARCHAR},
      </if>
      <if test="record.translatorId != null" >
        translator_id = #{record.translatorId,jdbcType=VARCHAR},
      </if>
      <if test="record.duadId != null" >
        duad_id = #{record.duadId,jdbcType=VARCHAR},
      </if>
      <if test="record.translationType != null" >
        translation_type = #{record.translationType,jdbcType=VARCHAR},
      </if>
      <if test="record.referencePrice != null" >
        reference_price = #{record.referencePrice,jdbcType=DECIMAL},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update usr_language
    set language_id = #{record.languageId,jdbcType=VARCHAR},
      translator_id = #{record.translatorId,jdbcType=VARCHAR},
      duad_id = #{record.duadId,jdbcType=VARCHAR},
      translation_type = #{record.translationType,jdbcType=VARCHAR},
      reference_price = #{record.referencePrice,jdbcType=DECIMAL},
      state = #{record.state,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.yc.translator.dao.mapper.bo.UsrLanguage" >
    update usr_language
    <set >
      <if test="translatorId != null" >
        translator_id = #{translatorId,jdbcType=VARCHAR},
      </if>
      <if test="duadId != null" >
        duad_id = #{duadId,jdbcType=VARCHAR},
      </if>
      <if test="translationType != null" >
        translation_type = #{translationType,jdbcType=VARCHAR},
      </if>
      <if test="referencePrice != null" >
        reference_price = #{referencePrice,jdbcType=DECIMAL},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where language_id = #{languageId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.yc.translator.dao.mapper.bo.UsrLanguage" >
    update usr_language
    set translator_id = #{translatorId,jdbcType=VARCHAR},
      duad_id = #{duadId,jdbcType=VARCHAR},
      translation_type = #{translationType,jdbcType=VARCHAR},
      reference_price = #{referencePrice,jdbcType=DECIMAL},
      state = #{state,jdbcType=VARCHAR}
    where language_id = #{languageId,jdbcType=VARCHAR}
  </update>
</mapper>